---

---

<div class="p-10 md:mt-20 lg:mt-20" id="contact">
  <div class="max-w-2xl mx-auto">
    <div class="text-center">
      <h2 class="font-color-body">
        Get early <span class="text-white">access</span>
      </h2>
    </div>
    <div class="text-center">
      <p class="font-color-body parragraph">
        Start your 14-day free trial today and see what Chat Flow Builder can do
        for your business.
      </p>
    </div>
    <div class="input-wrapper flex flex-col md:flex-row lg:flex-row">
      <input
        class="m-4 text-center md:text-start lg:text-start md:w-1/2 lg:w-1/2"
        placeholder="Enter your email"
        type="text"
      />
      <button class="bg-white md:w-72 lg:w-72">Request Early Access</button>
    </div>
  </div>
</div>

<style>
  .parragraph {
    font-size: 1rem;
  }
  .input-wrapper {
    padding: 8px 8px 8px 8px;
    background-color: #7d7d7d42;
    border-radius: 20px 20px 20px 20px;
  }
  input {
    color: #ffffff;
    background-color: #ffffff00;
    padding: 0px 0px 0px 20px;
    outline: none;
  }
  button {
    color: #000000;
    background-color: #ffffff;
    padding: 10px 20px 10px 20px;
    border-radius: 100px 100px 100px 100px;
    outline: none;
    font-size: 1rem;
  }
  button:hover {
    background-color: #7c7e82;
  }
  @media (min-width: 768px) {
    .input-wrapper {
      border-radius: 35px 35px 35px 35px;
      padding: 2px 2px 2px 2px;
    }
  }
  @media (min-width: 1024px) {
    .input-wrapper {
      border-radius: 35px 35px 35px 35px;
      padding: 2px 2px 2px 2px;
    }
  }
</style>
