---
const faq = [
  {
    question: "What is the difference between Lumi Video and Video Pro/Pro+ ?",
    answer:
      "I am item content. Click edit button to change this text. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.",
  },
  {
    question: "Do I need to download a separate Lumi app ?",
    answer:
      "I am item content. Click edit button to change this text. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.",
  },
  {
    question: "Do you need the Lumi app to join a meeting ?",
    answer:
      "I am item content. Click edit button to change this text. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.",
  },
  {
    question: "Is Lumi Video safe?",
    answer:
      "I am item content. Click edit button to change this text. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.",
  },
  {
    question: "How can I record my video meeting?",
    answer:
      "I am item content. Click edit button to change this text. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.",
  },
];
---

<div class="p-10 md:mt-20 lg:mt-20">
  <div class="max-w-7xl mx-auto">
    <div class="text-center mb-14">
      <h2 class="font-color-body">
        Frequently asked <span class="text-white">questions</span>
      </h2>
    </div>
    <div class="faq-container">
      {
        faq.map((item) => (
          <div class="faq-item">
            <div class="faq-question flex justify-between">
              <span>{item.question}</span>
              <span class="faq-icon">+</span>
            </div>
            <div class="faq-answer font-color-body">{item.answer}</div>
          </div>
        ))
      }
    </div>
  </div>
</div>

<style>
  .faq-container {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
  }

  .faq-item {
    margin-bottom: 10px;
    border-radius: 5px;
    overflow: hidden;
  }

  .faq-question {
    color: #fff;
    padding: 15px;
    cursor: pointer;
    font-weight: bold;
  }

  .faq-question > span:hover {
    color: #7c7e82;
  }

  .faq-answer {
    padding: 0 15px;
    max-height: 0;
    overflow: hidden;
    transition:
      max-height 0.4s ease,
      padding 0.4s ease;
  }

  .faq-item.active .faq-answer {
    max-height: 200px;
    padding: 15px;
  }

  .faq-icon {
    transition: transform 0.3s ease;
  }

  .faq-item.active .faq-icon {
    transform: rotate(360deg);
  }
</style>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const faqs = document.querySelectorAll(".faq-item");

    faqs.forEach((faq) => {
      const question: any = faq.querySelector(".faq-question");

      question.addEventListener("click", function () {
        const isActive = faq.classList.contains("active");

        faqs.forEach((item) => {
          item.classList.remove("active");
          const icon = item.querySelector(".faq-icon");
          if (icon) {
            icon.textContent = "+";
          }
        });

        if (!isActive) {
          faq.classList.add("active");
          const icon = faq.querySelector(".faq-icon");
          if (icon) {
            icon.textContent = "−";
          }
        }
      });
    });
  });
</script>
