---
---

<div class="p-10 mt-20" id="features">
    <div class="max-w-7xl mx-auto w-full h-auto">
        <div>
            <h2 class="font-color-body text-center mb-5"><span class="text-white">More flexible</span> and helpful for you & your users.</h2>
            <p class="font-color-body text-center mb-12 text-base">Virtual events make it easier for users to follow their interactions. Users easily understand the topics discussed.</p>
            <div class="flex justify-center mb-10"><button class="text-white">Schedule a Call</button></div>
        </div>
        <div class="md:grid md:grid-cols-2 md:gap-5 lg:grid-cols-4">
            <div class="custom-div">
                <div class="custom-icon flex justify-center items-center pt-9 pb-2 bg-inherit">
                    <span class="size-10 yellow-color icon-[mdi--video-outline]"></span>
                </div>
                <div class="bg-inherit"><h4 class="text-white text-center pt-5 pb-5 md:text-lg">Simple Video View</h4></div>
                <div class="bg-inherit"><p class="font-color-body text-center pb-5 pl-10 pr-10">Fellow helps managers have the best one-on-ones with their direct reports.</p></div>
                <div class="yellow-line"></div>
            </div>
            <div class="custom-div">
                <div class="custom-icon flex justify-center items-center pt-9 pb-2 bg-inherit">
                    <span class="size-10 purple-color icon-[guidance--meeting-room]"></span>
                </div>
                <div class="bg-inherit"><h4 class="text-white text-center pt-5 pb-5 md:text-lg">One-on-One Meetings</h4></div>
                <div class="bg-inherit"><p class="font-color-body text-center pb-5 pl-10 pr-10">Fellow helps managers have the best one-on-ones with their direct reports.</p></div>
                <div class="purple-line"></div>
            </div>
            <div class="custom-div">
                <div class="custom-icon flex justify-center items-center pt-9 pb-2 bg-inherit">
                    <span class="size-10 blue-color icon-[fluent-mdl2--functional-manager-dashboard]"></span>
                </div>
                <div class="bg-inherit"><h4 class="text-white text-center pt-5 pb-5 md:text-lg">Cross-Functional Meetings</h4></div>
                <div class="bg-inherit"><p class="font-color-body text-center pb-5 pl-10 pr-10">Fellow helps managers have the best one-on-ones with their direct reports.</p></div>
                <div class="blue-line"></div>
            </div>
            <div class="custom-div">
                <div class="custom-icon flex justify-center items-center pt-9 pb-2 bg-inherit">
                    <span class="size-10 red-color icon-[fluent--people-team-16-regular]"></span>
                </div>
                <div class="bg-inherit"><h4 class="text-white text-center pt-5 pb-5 md:text-lg">Team Meetings</h4></div>
                <div class="bg-inherit"><p class="font-color-body text-center pb-5 pl-10 pr-10">Fellow helps managers have the best one-on-ones with their direct reports.</p></div>
                <div class="red-line"></div>
            </div>
        </div>
    </div>
</div>

<style>
    .custom-icon:before {
        position: absolute;
        content: "";
        width: 60px;
        height: 60px;
        border-radius: 30px;
        background-color: #E3E5E829;
    }
    .yellow-color {
        color: #FFD700;
    }
    .purple-color {
        color: #5A70FF;
    }
    .blue-color {
        color: #4FDDD4;
    }
    .red-color {
        color: #FE3333;
    }
    .yellow-line {
        width: 100%;
        height: 5px;
        border-bottom-right-radius: 4px;
        border-bottom-left-radius: 4px;
        background-color: #FFD700;
    }
    .purple-line {
        width: 100%;
        height: 5px;
        border-bottom-right-radius: 4px;
        border-bottom-left-radius: 4px;
        background-color: #5A70FF;
    }
    .blue-line {
        width: 100%;
        height: 5px;
        border-bottom-right-radius: 4px;
        border-bottom-left-radius: 4px;
        background-color: #4FDDD4;
    }
    .red-line {
        width: 100%;
        height: 5px;
        border-bottom-right-radius: 4px;
        border-bottom-left-radius: 4px;
        background-color: #FE3333;
    }
    .custom-div {
        background-color: #15181e;
        border-style: solid;
        border-width: 1px 1px 1px 1px;
        border-color: #e3e5e829;
        border-radius: 5px;
        margin-bottom: 20px;
    }
    button {
        background-color: #FFFFFF00;
        color: #FFF;
        width: 170px;
        height: 40px;
        border-radius: 25px;
        border: none;
        cursor: pointer;
        transition: all 0.3s ease;
        border-style: solid;
        border-width: 1px 1px 1px 1px;
        border-color: #CAC5C5;
    }
    button:hover {
        background-color: #FFF;
        color: #0d0e12;
    }
    @media (min-width: 768px) {
        .custom-div {
            margin-bottom: 0;
        }
    }
</style>