---

---

<div class="mb-5">
  <h5 class="font-color-body uppercase text-sm">About</h5>
  <div class="flex justify-start">
    <ul>
      <li>
        <a class="text-gray-400 text-base" href="http://localhost:4321"
          >About us</a>
      </li>
      <li>
        <a class="text-gray-400 text-base" href="http://localhost:4321"
          >Our vision</a>
      </li>
      <li>
        <a class="text-gray-400 text-base" href="http://localhost:4321"
          >Careers</a>
      </li>
      <li>
        <a class="text-gray-400 text-base" href="http://localhost:4321"
          >Press</a>
      </li>
    </ul>
  </div>
</div>
<div class="mb-5">
  <h5 class="font-color-body uppercase text-sm">Product</h5>
  <div class="flex justify-start">
    <ul>
      <li>
        <a class="text-gray-400 text-base" href="http://localhost:4321"
          >Embedded</a>
      </li>
      <li>
        <a class="text-gray-400 text-base" href="http://localhost:4321"
          >Meetings</a>
      </li>
      <li>
        <a class="text-gray-400 text-base" href="http://localhost:4321"
          >What's New</a>
      </li>
      <li>
        <a class="text-gray-400 text-base" href="http://localhost:4321"
          >Reference Docs</a>
      </li>
    </ul>
  </div>
</div>
<div class="mb-5">
  <h5 class="font-color-body uppercase text-sm">Pricing</h5>
  <div class="flex justify-start">
    <ul>
      <li>
        <a class="text-gray-400 text-base" href="http://localhost:4321"
          >For Messaging</a>
      </li>
      <li>
        <a class="text-gray-400 text-base" href="http://localhost:4321"
          >For Meetings</a>
      </li>
      <li>
        <a class="text-gray-400 text-base" href="http://localhost:4321"
          >Enterprice</a>
      </li>
    </ul>
  </div>
</div>
