---
import { Image } from "astro:assets";
import Logo from "/public/logo.svg";
---

<div class="fixed w-full md:flex md:justify-center md:min-w-full z-50">
  <div class="fixed pb-5 md:relative lg:relative md:max-w-7xl lg:max-w-7xl md:flex lg:flex w-full bg-inherit z-50">
    <div class="pl-5 pt-5 w-1/2 md:w-1/3 lg:w-1/3">
      <a href="https://chatflowbuilder.com"
        ><Image loading={"eager"} class="w-52" src={Logo} alt={"Chat Flow Builder Logo"} /></a
      >
    </div>
    <div class="relative md:w-2/3 lg:w-2/3 md:flex lg:flex md:h-20 lg:h-20">
      <nav class="nav-links md:relative lg:relative md:flex lg:flex md:items-center lg:items-center realative h-full md:w-full lg:w-full z-50">
        <a class="font-color-body" href="#home">Home</a>
        <a class="font-color-body" href="#features">Features</a>
        <a class="font-color-body" href="#pricing">Pricing</a>
        <a class="font-color-body" href="#contact">Contact</a>
        <div class="w-full h-full flex justify-end flex-col pb-20 md:pb-0 md:flex-row md:items-center lg:pb-0 lg:flex-row lg:items-center">
          <button class="pb-5 md:pb-0 md:w-20 lg:w-20"><a class="font-color-body hover:text-white" href="https://chatflowbuilder.com">Log in</a></button>
          <button class="button-primary w-full md:w-40 lg:w-40"><a class="button-text" href="https://chatflowbuilder.com">Start free trial</a></button>
        </div>
      </nav>
    </div>
    <div class="menu-toggle" id="menu-toggle"><span class="hamburger mr-2"></span></div>
  </div>
</div>

<style>
  .test{
    border: 1px solid red;
  }

.button-primary {
  background-color: #fff;
  height: 40px;
  border-radius: 25px;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
}

.button-primary:hover {
  background-color: #7C7E82;
}

.button-text {
  color: #0d0e12;
}

.nav-links {
  display: flex;
  gap: 1.5rem;
}

.nav-links a {
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s ease;
  margin-left: 5px;
}

.nav-links > a:hover {
  color: #FFF;
}

.menu-toggle {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 38px;
  cursor: pointer;
  margin-right: 1rem;
  position: absolute;
  right: 15px;
  top: 15px;
}

.hamburger,
.hamburger::before,
.hamburger::after {
  content: "";
  display: block;
  height: 2px;
  background-color: #fff;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.hamburger {
  position: relative;
  width: 14px;
}

.hamburger::before,
.hamburger::after {
  position: absolute;
  width: 24px;
  left: 0;
}

.hamburger::before {
  transform: translateY(-6px);
}

.hamburger::after {
  transform: translateY(6px);
}

.menu-toggle.active .hamburger::before {
  transform: rotate(-45deg) translate(-5px, 5px);
}

.menu-toggle.active .hamburger::after {
  transform: rotate(45deg) translate(-5px, -5px);
}

@media (max-width: 768px) {
  .nav-links {
    position: fixed;
    top: 60px;
    left: 0;
    width: 100%;
    background-color: #0d0e12;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 1rem;
    padding: 1rem;
    transform: translateX(-100%);
    transition: transform 0.3s ease;
    z-index: 9999999;
  }

  .nav-links.open {
    transform: translateX(0);
  }

  .menu-toggle {
    display: flex;
    margin-left: 0;
  }
}

@media (min-width: 1024px) {
  .cta-buttons {
    flex-direction: row;
  }
}
</style>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const menuToggle:any = document.getElementById("menu-toggle");
    const navLinks:any = document.querySelector(".nav-links");
    const navItems = document.querySelectorAll(".nav-links a");

    menuToggle.addEventListener("click", function () {
      navLinks.classList.toggle("open");
      menuToggle.classList.toggle("active");
    });

    navItems.forEach(function (item) {
      item.addEventListener("click", function () {
        if (navLinks.classList.contains("open")) {
          navLinks.classList.remove("open");
          menuToggle.classList.remove("active");
        }
      });
    });
  });
</script>