---
import { Image } from 'astro:assets';
import Logo from '@assets/logo.png'
---

<div>
    <div class="flex flex-col items-center justify-center h-screen">
        <Image src={Logo} loading="eager" alt="The logo of Drive Deal" />
        <h1 class="text-5xl text-center font-normal mt-20">We're <span>working hard</span> to provide you <br> the best service.</h1>
    </div>
</div>

<style>
    span {
        color: #FFFFFF;
    }

    img {
        width: 200px;
    }

    h1 {
        color: #7C7E82;
    }

    @media (max-width: 768px) {
        h1 {
            font-size: 2rem;
        }
    }

    @media (max-width: 640px) {
        h1 {
            font-size: 1.5rem;
        }
    }

    @media (max-width: 480px) {
        h1 {
            font-size: 1.2rem;
        }
    }

    @media (max-width: 320px) {
        h1 {
            font-size: 1rem;
        }
    }

</style>